body {
    background: #f8f7f7
}

.header__title {
    color: #14aa46;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 25px auto;
    padding-top: 50px;
    color: sandybrown;
}

.about {}

.about__header {
    color: #1460aa;
}

.about__paragraph {
    color: darkblue;
    padding: 10px;
    overflow: hidden;
}

.about__image {    
    width: 100%;
    max-width: 200px;
    display: block;
    float: left;
    margin: 0 16px 0 16px;
}

.about__paragraph--mini {
    color: aqua;
}

.about__paragraph--js {}

.box {
    width: 100px;
    height: 100px;
    background: yellowgreen;
    padding: 10px;
    border: 10px solid red;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #1a936f;
    text-decoration: none;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 10px;
    left: 0;
    box-sizing: border-box;
    padding: 16px;
    background: #fff;
}

.navigation__link {
    color: #1460aa;
    text-decoration: none;
}

.club {

}

.club__header {
    color: #1460aa;
}

.club-content {
    padding: 16px;
}

.club-content__header {
    color: darkcyan;
}

.club-content__paragraph {
    color: darkblue;
    padding: 0;
    margin: 0;
    overflow: hidden;
    line-height: 24px;
}