body {
    background: #f8f7f7
}

.sectionHeader, .diaryHeader {
    color: #1460aa;
}

.paragraph {
    color: darkblue;
    padding: 10px;
    overflow: hidden;
}

.heading {
    color: #14aa46;
}

.thirdHeader {
    color: darkcyan;
}

.about {
    
}

.about__header {
    color: #1460aa;
}

.about__paragraph {
    color: darkblue;
    padding: 10px;
    overflow: hidden;
}

.about__image {
    
}


.main {
    width: 100%;
    max-width: 700px;
    margin: 25px auto;
    padding-top: 50px;
    color: sandybrown;
}

.box {
    width: 100px;
    height: 100px;
    background: yellowgreen;
    padding: 10px;
    border: 10px solid red;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #1a936f;
    text-decoration: none;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 10px;
    left: 0;
    box-sizing: border-box;
    padding: 16px;
    background: #fff;
}

.navigation__link {
    color: #1460aa;
    text-decoration: none;
}

.inter {
    width: 100%;
    max-width: 200px;
    display: block;
    float: left;
    margin: 0 16px 0 16px;
}